.container {
    height: 2000px;
}


.arrows {
    display: inline-block;
    position: fixed;
    right: 20px;
}

.arrow-up {
    visibility: hidden;
}

.arrow-down {
    visibility: hidden;
}

.arrow-is-visible {
    visibility: visible;
}